/* Write your CSS here */
.about-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  height: 200px;
}
.about-heading {
  font-size: 30px;
}
.light-theme-color {
  color: #1e293b;
}
.dark-theme-about-container {
  background-color: #000000;
}
.dark-theme-color {
  color: #dcdcdc;
}
